__pycache__/
*.pyc
venv/
.env
.streamlit/secrets.toml
database/*.db
dist/
build/
*.spec
database/app.db
database/app.db-wal
database/app.db-shm
# Streamlit
.streamlit/
.streamlit/config.toml
# Bỏ qua thư mục lưu trữ hồ sơ kế toán thực tế
KHO_LUU_TRU_KE_TOAN/